* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DIN2";
}

@font-face {
  font-family: "DIN1";
  src: url("../fonts/din-next-lt-w23-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DIN2";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DIN3";
  src: url("../fonts/DINNextLTArabic-Regular-2.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DIN1";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DIN2";
  src: url("../fonts/JosefinSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DIN3";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
h1,
.btn_page,
:root {
  --main_color: #02b8f1;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #35648b, #31a3e0);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.my80 {
  margin: 80px 0px;
}
.my40 {
  margin: 40px 0px;
}
.my90 {
  margin: 50px 0px 86px;
}
.m80 {
  margin: 80px 0px 0px;
}
@media (max-width: 768px) {
  .m80 {
    margin: 40px 0px 0px;
  }
  .my80 {
    margin: 40px 0px;
  }
  .my40 {
    margin: 30px 0px;
  }
}
/*start header*/
header {
  background-image: url("../images/backHeader.png");
  background-size: cover;
}

/*start navbar*/
.navbar-toggler {
  border: 0 !important;
}
.topNav {
  top: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.topleft {
  left: 0;
}
.topRight {
  right: 0;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #8b3535;
  display: block;
  transition: all 0.2s;
}
/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler:focus {
  box-shadow: none;
  border: none !important;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}
.navbar {
  direction: ltr;
}
.navbar .container {
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav {
  gap: 34px;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.navbar .navbar-collapse {
  justify-content: center;
}
.navbar .content {
  margin: auto;
}
.nav-link:hover,
.nav-link:focus {
  color: white;
}
.navbar .itemLogo .navbar-brand {
  margin: 0;
}

.mainLogo {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}
.mainLogo p,
.itemLogo p {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: black;
  font-family: DIN2;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-family: DIN1;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 16px;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-link.active {
  border-radius: 4px;
  background: #2b648a;
}
.navbar .navbar-nav .nav-link:hover {
  border-radius: 4px;
  background: #2b648a47;
}
.navbar .navbar-nav .nav-link.active:hover {
  background: #2b648a;
}
.navbar-collapse a {
  color: white;
}
.itemLogo .navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.navbar .dropdown-toggle::after {
  padding: 0px;
  background-image: url("../images/chevron-down.svg");
  border: 0;
  width: 20px;
  height: 20px;
  background-position: unset;
  background-repeat: no-repeat;
  background-size: 20px;
  vertical-align: -5px;
  transition: 0.5s;
}

.navbar .nav-link:hover.dropdown-toggle::after {
  transform: rotate(180deg);
}

.navbar-brand {
  padding: 8px 16px;
  background: white;
  border-radius: 8px;
}
.navbar .container {

  position: relative;
}
.navbar .lang {
  background-color: #35648b;
  padding: 6px 12px;
  font-size: 14px;
  font-family: "DIN1";
  color: #f5cc51;
  border: none;
  border-radius: 6px;
}
@media (max-width: 992px) {

  .navbar .navbar-nav .nav-link {
    color: white;
  }
  .navbar-nav {
    gap: 10px;
    padding: 20px 0px;
    background: transparent;
  }
  .mainLogo {
    display: flex;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #02b8f1;
  }
  .navbar-collapse a {
    color: white;
  }
  .navbar .itemLogo {
    display: none;
  }
}
@media (max-width: 400px) {

.navbar-brand {
  width: 76px;
  padding: 8px 12px;
}
.navbar-brand img {
 width: 100%;
}
}
/*end navbar*/

/*start about*/
.about {
  padding-top: 60px;
}
.about .content {
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.about .content .part1 {
}
.about .content .part1 img {
  max-width: 100%;
}
.about .content .part2 {
  color: #fff;
}
.about .content .part2 h1 {
  font-family: DIN1;
  font-size: 44px;
  font-weight: 700;
  line-height: 153.1%;
  margin-bottom: 56px;
  max-width: 420px;
}
.about .content .part2 h1 span {
  background: var(
    --offer,
    linear-gradient(164deg, #ffed8c 15.43%, #f4b335 83.92%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DIN1;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 153.1%;
}

.about .content .part2 p {
  font-family: DIN3;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.1%;
  margin-bottom: 56px;
  max-width: 477px;
}
.about .content .part2 .appLink {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 60px;
}
.about .content .part2 .appLink a {
  width: 136px;
  height: 50px;
}
.about .content .part2 .appLink a img {
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
 
  .about .content {
    gap: 6px;
    flex-direction: column;
}
  .about .content .part2 p {
    margin-bottom: 28px;
    max-width: 560px;
  }
  .about .content .part2 h1 {
    margin-bottom: 28px;
  }

}
@media (max-width: 480px) {
  .about .content .part1 {
    max-width: 90%;
}
  .about .content .part2 h1 {
    font-size: 38px;
    line-height: 110%;
  }
  .about .content .part2 .appLink a {
    width: 128px;
    height: 50px;
  }
  .about .content .part2 p {
    font-size: 20px;

    line-height: 110%;
  }
  .about .content .part2 .appLink {
    gap: 12px;
    padding-bottom: 30px;
  }
  .about .content .part2 {
    max-width: 100%;
}
}
/*end about*/
/*stert count*/
.count {
  padding: 144px 0px;
  text-align: center;
  background-image: url("../images/backnum.webp");
  background-size: cover;
}
.count .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}
.count h3 {
  margin: 0;
  font-size: 36px;
  font-family: DIN2;
}
.count .part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.count .part .mainImg {
  width: 64px;
  height: 64px;
  display: block;
  text-align: center;
  margin: auto;
}
.count .part .num h2 {
  text-align: center;
  font-size: 56px;
  margin: 0;
  font-family: DIN1;
  line-height: normal;
}
.count .part p {
  text-align: center;
  font-size: 24px;
  font-family: DIN3;
  max-width: 244px;
  margin: auto;
}
@media (max-width: 992px) {
  .count .part .num h2 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .count .content {
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .count {
    padding: 50px 20px;
  }
}
/*end count*/

/*start hotels*/
.hotels {
  background-image: url("../images/backHotel.webp");
  background-size: cover;
  padding: 60px 0px;
  position: relative;
}
.hotels::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/lines.webp");
  background-size: 100%;
  top: 0;
  left: 0;
}
.hotels .content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}
.hotels .content .part2 {
}
.hotels .content .part2 img {
  max-width: 100%;
}
.hotels .contentOne {
}
.hotels .content .part1 {
  margin-top: 70px;
}
.hotels .content .part1 h2 {
  text-align: center;
  color: #fff;
  font-family: DIN1;

  font-size: 44px;
  line-height: 47.25px;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.hotels .content .part1 .decHotels {
}
.hotels .content .part1 .decHotels ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}
.hotels .content .part1 .decHotels ul li {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  border: 1px dashed #fff;
  background: #2b648a;
  backdrop-filter: blur(5px);
  padding: 30px 18px;
  width: 570px;
  max-width: 570px;
}
.hotels .content .part1 .decHotels ul li img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.hotels .content .part1 .decHotels ul li .infoHotel {
  flex: 1;
}
.hotels .content .part1 .decHotels ul li .infoHotel h3 {
  color: #fff;
  font-family: DIN2;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.hotels .content .part1 .decHotels ul li .infoHotel p {
  color: #fff;
  font-family: DIN3;
  font-size: 16px;
  line-height: 24px;
}

.hotels .contentTwo {
  flex-direction: row-reverse;
}
.hotels .contentTwo .part2 {
  margin-top: -70px;
}
.hotels .restaurent {
  position: relative;
  width: fit-content;
  margin: auto;
}
.hotels .restaurent::before {
  position: absolute;
  content: "";
  background-image: url("../images/restaurent.webp");
  background-repeat: no-repeat;
  width: 126px;
  height: 101px;
  bottom: 30%;
  right: 70%;
  background-size: cover;
  background-position: top;
}
@media (max-width: 1200px) {
  .hotels .contentTwo .part2 {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .hotels .content .part2 {
   
  }
  .hotels .content {
    justify-content: flex-start;
  }
  .hotels .contentTwo {
    flex-direction: row;
  }
  .hotels .content .part1 .decHotels ul li {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .hotels .content .part1 h2 {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .hotels .content .part1 .decHotels ul li {
    gap: 10px;
    padding: 22px 18px;
  }
  .hotels .content .part1 {
    margin-top: 20px;
  }
  .hotels .restaurent::before {
    width: 80px;
    height: 75px;
    bottom: 18%;
    right: 72%;
  }
  .hotels .content {
    gap: 0px;
    flex-direction: column !important;
    margin-top: 26px;
}
}
/*end hotels*/
/*start footer*/
footer{
  padding: 24px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
background-blend-mode: darken, normal;
background-image: url("../images/backfooter.webp");
background-size: cover;
direction: ltr;
}
footer .content{}
footer .content ul{
  display: flex;
  padding: 0;
justify-content: center;
align-items: center;
gap: 48px;
flex-wrap: wrap;
}
footer .content ul li{}
footer .content ul li .footerLink{
  padding: 8px 16px;
  border-radius: 4px;
  color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: 0.3s;
min-width: max-content;
    display: block;
}
footer .content ul li .footerLink:hover{
  background: #2b648a4a;
}
footer .content ul li .footerLink.active{
  background: #2B648A;

}
@media (max-width: 600px) {
  footer .content ul{
    gap: 10px;
  }

}
@media (max-width: 400px) {

  footer .content ul li .footerLink {
    padding: 8px 8px;
   
    font-size: 12px;
   
}
}
/*end footer*/
/* aboutPage*/
.aboutPage{
  text-align: center;
  margin-top: 180px;
  padding-bottom: 50px;
}
.aboutPage h2{
  color: #FFF;
font-family: DIN1;
font-size: 44px;
line-height: 153.1%; 
margin-bottom: 30px;
}
.aboutPage p{
  color: #FFF;
text-align: center;
font-family: DIN3;
font-size: 24px;
line-height: 153.1%; 
max-width:  477px;
text-align: center;
margin: auto;
}
.aboutPage .appLink{
  display: flex;
  align-items: center;
justify-content: center;
gap: 24px;
margin-top: 42px;
}
.aboutPage .appLink a{
  width: 136px;
height: 50px;
}
.aboutPage .appLink a img{
  width: 100%;
  height: auto;
  max-width: 100%;
}
.aboutUSInfo {
  min-height: 1100px;
}
.aboutUSInfo .content{
margin: 50px 0px 60px;
}
.aboutUSInfo .content ul{
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.aboutUSInfo .content ul li{}
.aboutUSInfo .content ul li h3{
  color: #1E1E1E;
font-family: DIN1;
font-size: 36px;
line-height: 153.1%;
margin-bottom: 24px;
}
.aboutUSInfo .content ul li p{
  color: #1E1E1E;
font-family: DIN3;
font-size: 24px;
line-height: 153.1%; 
}
@media (max-width: 768px) {
  .aboutUSInfo {
    min-height: auto;
  }
  .aboutUSInfo .content ul li h3{
  font-size: 28px;
  margin-bottom: 18px;
  }
  .aboutUSInfo .content ul li p {
    font-size: 20px;
}
.aboutUSInfo .content ul {
 
  gap: 28px;
}
.aboutPage {
  margin-top: 50px;
  padding-bottom: 48px;
}
.aboutPage h2 {

  font-size: 38px;

  margin-bottom: 10px;
}
.aboutPage p {
 
  font-size: 20px;
  
}
.aboutPage .appLink {
  
  gap: 10px;
  margin-top: 28px;
}
}
/*end aboutPage*/

/*start contactUs*/

.contactUs{
  min-height: 1100px;
}
.contactUs .content{
  display: flex;
  padding: 100px 0px;
  align-items: flex-start;
  gap: 20px;
}
.contactUs .content .part1{
  display: flex;
align-items: flex-start;
gap: 48px 32px;
align-self: stretch;
flex: 1;
flex-wrap: wrap;
}
.contactUs .content .part1 .option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  max-width: 272px;
  min-width: calc(50% - 16px );
  flex-wrap: wrap;
}
.contactUs .content .part1 .option .info{}
.contactUs .content .part1 .option svg{
  width: 24px;
height: 24px;
}
.contactUs .content .part1 .option h3{
  color:  #101828;
font-family: DIN1;
font-size: 20px;
line-height: 30px; 
}
.contactUs .content .part1 .option p{
  color:  #667085;
font-family: DIN3;
font-size: 16px;
line-height: 24px; 
}
.contactUs .content .part1 .option a{
  color: #14516E;
  font-family: DIN2;
font-size: 16px;
direction: ltr;
line-height: 24px; 
text-align: -webkit-match-parent;
}
.contactUs .content .part2{
  flex: 1;
}
.contactUs .content .part2 form{}
.contactUs .content .part2 form label{
  margin-bottom: 6px;
  color:  #344054;
font-family: DIN3;
font-size: 14px;
line-height: 20px; /* 142.857% */
}
.contactUs .content .part2 form .form-control{
  border-radius: 8px;
border: 1px solid var(--Gray-300, #D0D5DD);
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
padding: 12px 16px;
}
.contactUs .content .part2 form .form-control::placeholder{
  color:  #667085;
font-family: DIN3;
font-size: 16px;
line-height: 24px; 
}
.contactUs .form-group {
  margin-bottom: 24px;
}
.form-check .form-check-input {
  float: initial;
  margin-left: 0px;
}
.contactUs .form-check .form-check-input {
  border-radius: 6px;
  border: 1px solid  #D0D5DD;
  width: 20px;
  height: 20px;
}
.form-check-input:checked {
  background-color: #2B648A;
  border-color: #2B648A;
}
.form-check label { 
  margin-bottom: 0px !important;
  color: #667085;
}
.contactUs form .btn{
  border-radius: 8px;
border: 1px solid #2B648A;
background:  #2B648A;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: 480px;
margin: auto;
padding: 12px 20px;
transition: 0.3s;
}
.contactUs form .btn:hover{
  color: #f5cc51;
  background: #2b648acc;
}
@media (max-width: 768px) {
  .contactUs {
   
    min-height: auto;
}
  .contactUs .content {
    padding: 40px 0px;
    gap: 50px;
    flex-direction: column;
}
.contactUs .content .part1 {
  gap: 20px 18px;
  justify-content: center;
}
.contactUs .content .part2 {

  width: 100%;
}
}
@media (max-width: 500px) {
 
  .contactUs .content .part1 .option {
    gap: 12px;
    max-width:96%;
    min-width: 180px;
  }
  .contactUs form .btn{
    width: 90%;
  }
}
/*end contactUs*/
